<!DOCTYPE html>
<html>
<head>
  <!-- Tab Title -->
  <title>Curiosity Scraper</title>
  <!-- Favicon -->
  <link rel="icon" href="assets/images/newspaper_icon.png">
  <!-- View Port Size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Materialize - Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <!-- Materialize - Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- Fixed Nav Bar -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey darken-3">
        <a href="/" class="brand-logo">
          <img src='./assets/curiosity-logo.png' height="60px" width="auto">
        </a>
        <a href="" data-activates="mobile-demo" class="button-collapse">
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/"><i class="medium material-icons refresh">autorenew</i></a></li>
          </ul>
      </div>
    </nav>
  </div>

  <!-- For Mobile Nav Bar -->
  <ul class="side-nav darken-3" id="mobile-demo">
    <li>
      <a href="https://curiosity.com/" target="_new">Curiosity</a>
    </li>
  </ul>

  <!-- Page Content -->
  <main>
    <!-- Render All Articles -->
    <div class="container">
      {{{body}}}
    </div>
  </main>

  <!-- Footer -->
  <footer class="page-footer grey darken-3">
    <div class="footer-container">
      <div class="footer-text">
        <p>Made with <i class="tiny material-icons heart">favorite</i> by Miles Bowles</p>
      </div>
      <div class="footer-text">
        <p>© Author cannot claim copyright. All article data was web scraped from <a class="grey-text text-lighten-4" href="https://curiosity.com/"> www.curiosity.com </a></p>
      </div>
    </div>
    <br><br>
  </footer>

  <!-- Link in jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <!-- Materialize - Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <!-- Basic Page JavaScript for Repsonsiveness -->
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>